.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.formInput {
  margin-right: 10px;
  width: 200px;
  height: 30px;
  font-size: medium;
  border-radius: 5px;
  border: 2px solid #282c34;
}
